<div class="list-group">
  <div class="list-group-item">
    <form>
      {{input name="search" value=search placeholder=labels.search class="form-control"}}
    </form>
  </div>
  
  {{#each group in groups}}
    {{#if group.value}}
      {{#link-to 'box' group.items.firstObject.box class='list-group-item list-group-item-info'}}
        <strong><small>{{group.value}}</small></strong>
      {{/link-to}}
    {{/if}}
    {{#unless group.value}}
      <div class="list-group-item list-group-item-info">
        <strong>{{t 'unassigned'}}</strong>
      </div>
    {{/unless}}
    {{#each item in group.items}}
      {{#link-to 'item.edit' item class='list-group-item'}}
        <span class="badge">{{item.quantity}}</span>
        <span class="list-group-item-heading">{{item.name}}</span>
      {{/link-to}}
    {{/each}}
  {{/each}}
  
  {{#link-to 'items.new' class='list-group-item list-group-item-success'}}
    <span class="list-group-item-heading">+ {{t 'actions.new'}}</span>
  {{/link-to}}
</div>
