<ul class="label-group">
  {{#each box in model}}
    {{#unless box.isNew}}
      
      <li class="label-group-item">
        <h2>
          <small>
            {{t 'resources.box'}} {{t 'fields.id'}} / {{pt 'resources.box'}} {{pt 'fields.id'}}
            <br>
            {{box.id}}
          </small>
        </h2>
        
        <!-- QR code -->
        
        <h2>
          <small>{{t 'fields.shortId'}} / {{pt 'fields.shortId'}}</small>
          <br>
          {{box.shortId}}
        </h2>
      </li>
    
    {{/unless}}
  {{/each}}
</ul>
